<div class="container-fluid">
<h2>Are you sure you want to delete this record?</h2>
<form action="{% url 'displaycontact' pk=contactinfo.id %}" method="POST">
  {% csrf_token %}
  
<table class="table table-hover">
    <thead>
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Contact Number</th>
        <th>Address</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>{{contactinfo.first_name}}</td>
      <td>{{contactinfo.last_name}}</td>
      <td>{{contactinfo.contact_number}}</td>
      <td>{{contactinfo.address}}</td>
      </tr>
    </tbody>
</table>

<div class="homebutton">
  <input type="submit" value="Yes, delete." />
  <a href="{% url 'view_home' %}">No, cancel.</a>
  </div>  
</form>
</div>